.about {
	@include page-grid;
	width: 90%;
	margin-inline: auto;
	&__item {
		display: flex;
		flex-direction: column;
		padding: 5vh 3vw;
		background-color: #d5d5d524;
		border: 1px solid #d5d5d571;
		border-radius: 25px;

		h2 {
			font-size: 30px;
			font-weight: 600;
			color: #25205F;
		}

		p {
			font-size: 18px;
		}

		&:nth-of-type(1) {
			background-color: #faa03a;
			color: white;
			margin-bottom: 5vh;

			h2 {
				color: white;
			}
		}
	}
}