h2.textFade {
	width: 90%;
	margin-inline: auto;
	font-size: 50px;
	font-weight: 500;
	line-height: 2;
	color: #25205F;
}

p.textFade {
	width: 90%;
	margin-inline: auto;
	font-size: 23px;
	font-weight: 600;
	line-height: 1.8;
}