[data-animation='text-reveal'] {
	div {
		display: inline-block;
		overflow: hidden;
		vertical-align: top;
	}
	div div {
		transform: translateY(100%);
		will-change: transform;
	}
}

img[data-src] {
	opacity: 0;
}

img {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

.image-wrapper {
	position: relative;
	overflow: hidden;
}

[data-animation='parallax-image'] {
	overflow: hidden;
	img {
		height: 150% !important;
	}
}

.lerp-wrap {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1.25rem;
	mix-blend-mode: difference;
	line-height: 1.1;
}
.lerp-wrap span {
	position:relative;
	color: #222;
	width:100px;
	height:100px;
	display: inline-flex;
	justify-content:center;
	align-items:center;
	mix-blend-mode: difference;
	z-index: 0;
	font-size: clamp(32px, 3vw, 8vw);
}